name: Metrics
on:
  schedule: [{cron: "0 0 * * 1,4"}]
  # (optional) Run workflow manually
  workflow_dispatch:
  # (optional) Run workflow when pushing on master/main
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    environment: 
      name: production
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          plugin_languages: yes
          plugin_languages_indepth: yes
          commits_authoring: Ahmed Reza Rafsanzani, medreza
          plugin_languages_ignored: C
          plugin_languages_details: percentage
          base: header
          plugin_lines: yes
          token: ${{ secrets.METRICS_TOKEN }}
